<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.CommonServiceLocator.Indy" version="2.6.3.863" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1416" targetFramework="net45" />
  <package id="Moq.Contrib.Indy" version="1.0.4563.32860" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>
